In [1]:
# Mengimpor pustaka pandas dan numpy
import pandas as pd
import numpy as np
# Memasang pustaka mlxtend yang digunakan untuk algoritma asosiasi
!pip install mlxtend
# Mengimpor fungsi fpgrowth dan association_rules dari mlxtend.frequent_patterns
from mlxtend.frequent_patterns import fpgrowth
from mlxtend.frequent_patterns import association_rules

Requirement already satisfied: mlxtend in c:\users\dell\anaconda3\lib\site-packages (0.22.0)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\dell\anaconda3\lib\site-packages (from mlxtend) (3.1.1)
Requirement already satisfied: numpy>=1.16.2 in c:\users\dell\anaconda3\lib\site-packages (from mlxtend) (1.16.5)
Requirement already satisfied: pandas>=0.24.2 in c:\users\dell\anaconda3\lib\site-packages (from mlxtend) (0.25.1)
Requirement already satisfied: scipy>=1.2.1 in c:\users\dell\anaconda3\lib\site-packages (from mlxtend) (1.3.1)
Requirement already satisfied: setuptools in c:\users\dell\anaconda3\lib\site-packages (from mlxtend) (41.4.0)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\dell\anaconda3\lib\site-packages (from mlxtend) (1.0.2)
Requirement already satisfied: joblib>=0.13.2 in c:\users\dell\anaconda3\lib\site-packages (from mlxtend) (0.13.2)
Requirement already satisfied: cycler>=0.10 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.4.2)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.0)
Requirement already satisfied: pytz>=2017.2 in c:\users\dell\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2019.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\dell\anaconda3\lib\site-packages (from scikit-learn>=1.0.2->mlxtend) (3.1.0)
Requirement already satisfied: six in c:\users\dell\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib>=3.0.0->mlxtend) (1.12.0)

In [2]:
# Data transaksi dalam bentuk list of lists
dataset=[['milk','onion','nutmeg','kidney beans','eggs','yogurt'],
         ['oil','onion','nutmeg','kidney beans','eggs','yogurt'],
         ['milk','apple','kidney beans','eggs'],
         ['milk','unicorn','corn','kidney beans','yogurt'],
         ['corn','onion','onion','kidney beans','ice cream','eggs']]

In [3]:
# Mengimpor TransactionEncoder dari mlxtend.preprocessing
from mlxtend.preprocessing import TransactionEncoder

# Menginisialisasi objek TransactionEncoder
te=TransactionEncoder()
# Menyesuaikan dan mengubah data transaksi menjadi format array boolean
te_ary=te.fit(dataset).transform(dataset)
# Membuat DataFrame dari array boolean dengan kolom sesuai item dalam transaksi
df=pd.DataFrame(te_ary,columns=te.columns_)
# Menampilkan DataFrame yang terbentuk
df

,apple,corn,eggs,ice cream,kidney beans,milk,nutmeg,oil,onion,unicorn,yogurt
0,False,False,True,False,True,True,True,False,True,False,True
1,False,False,True,False,True,False,True,True,True,False,True
2,True,False,True,False,True,True,False,False,False,False,False
3,False,True,False,False,True,True,False,False,False,True,True
4,False,True,True,True,True,False,False,False,True,False,False

In [4]:
# Menggunakan algoritma fpgrowth untuk menemukan itemset yang sering muncul dengan minimum support 0.6
fpgrowth(df,min_support=0.6)

    support   itemsets
0       1.0        (4)
1       0.8        (2)
2       0.6       (10)
3       0.6        (8)
4       0.6        (5)
5       0.8     (2, 4)
6       0.6    (10, 4)
7       0.6     (8, 2)
8       0.6     (8, 4)
9       0.6  (8, 2, 4)
10      0.6     (4, 5)

In [5]:
# Menyimpan itemset yang sering muncul ke dalam variabel frequent_itemsets
frequent_itemsets=fpgrowth(df,min_support=0.6, use_colnames=True)
# Menampilkan itemset yang sering muncul
frequent_itemsets

    support                     itemsets
0       1.0               (kidney beans)
1       0.8                       (eggs)
2       0.6                     (yogurt)
3       0.6                      (onion)
4       0.6                       (milk)
5       0.8         (kidney beans, eggs)
6       0.6       (yogurt, kidney beans)
7       0.6                (onion, eggs)
8       0.6        (kidney beans, onion)
9       0.6  (kidney beans, onion, eggs)
10      0.6         (kidney beans, milk)

In [6]:
# Menghasilkan aturan asosiasi dari itemset yang sering muncul dengan menggunakan metrik confidence dan minimum threshold 0.8
rules=association_rules(frequent_itemsets, metric="confidence", min_threshold=0.8)
# Menampilkan aturan asosiasi yang dihasilkan
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(kidney beans),(eggs),1.0,0.8,0.8,0.8,1.00,0.00,1.0,0.0
1,(eggs),(kidney beans),0.8,1.0,0.8,1.0,1.00,0.00,inf,0.0
2,(yogurt),(kidney beans),0.6,1.0,0.6,1.0,1.00,0.00,inf,0.0
3,(onion),(eggs),0.6,0.8,0.6,1.0,1.25,0.12,inf,0.5
4,(onion),(kidney beans),0.6,1.0,0.6,1.0,1.00,0.00,inf,0.0
5,"(kidney beans, onion)",(eggs),0.6,0.8,0.6,1.0,1.25,0.12,inf,0.5
6,"(onion, eggs)",(kidney beans),0.6,1.0,0.6,1.0,1.00,0.00,inf,0.0
7,(onion),"(kidney beans, eggs)",0.6,0.8,0.6,1.0,1.25,0.12,inf,0.5
8,(milk),(kidney beans),0.6,1.0,0.6,1.0,1.00,0.00,inf,0.0

In [7]:
# Mengimpor fungsi apriori dari mlxtend.frequent_patterns
from mlxtend.frequent_patterns import apriori
# Mengukur waktu yang dibutuhkan untuk menjalankan algoritma apriori
%timeit apriori(df,min_support=0.6)

3.84 ms ± 217 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [8]:
# Mengimpor fungsi fpgrowth dari mlxtend.frequent_patterns
from mlxtend.frequent_patterns import fpgrowth
# Mengukur waktu yang dibutuhkan untuk menjalankan algoritma fpgrowth
%timeit fpgrowth(df,min_support=0.6)

1.64 ms ± 161 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [ ]:
# Frequent Itemsets: Algoritma fpgrowth menemukan itemset yang sering muncul dalam dataset dengan minimum support 0.6. Dari hasil yang ditampilkan, bisa dilihat kombinasi item mana yang sering dibeli bersama dalam transaksi.

# Association Rules: Dari itemset yang sering muncul, aturan asosiasi dibentuk menggunakan metrik confidence dengan minimum threshold 0.8. Aturan ini menunjukkan hubungan yang kuat antara item-item dalam transaksi. Contoh aturan mungkin menunjukkan bahwa jika seseorang membeli onion dan kidney beans, maka ada kemungkinan besar mereka juga akan membeli eggs.

# Comparison of Algorithms: Waktu eksekusi untuk algoritma apriori dan fpgrowth diukur. Biasanya, fpgrowth lebih cepat daripada apriori untuk dataset besar karena fpgrowth menggunakan pendekatan tree-based yang lebih efisien.